:root{
    --backgraound-display: #FBFCFC;
    --border-calculator:#D64326;
    --bacgraound-calculator:#050202e3;
    --buttons-operators:#027e83;
    --buttons:#949FA0;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-calculator{
    display:flex;
    height:100%;
    justify-content:center ;
    align-items: center;
    margin: 70px;
}

.calculator{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    width: 300px;
    height: 500px;
    padding: 10px;
    border: 2px solid;
    background-color: var(--bacgraound-calculator);
    border-radius: 10px;
}

.numbers{
    box-sizing: border-box;
    padding: 0px;
    border-radius: 40px; 
    font-size: 20px;
    background: var(--buttons);
    border: 1px solid #5e6565c2 ;
    cursor: pointer;
    color: #DED9D8;
    box-shadow: 1px 1px 1px 1px #555b5bc2
}
.operator{
    background-color: var(--buttons-operators);
    box-shadow: 1px 1px 1px 1px #196d6dc2;
}

.display-screen{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 120px;
    border: 1px solid white;
    background-color: var(--backgraound-display);
    margin: 20px 0;
    box-sizing: border-box;
    padding: 10px 10px;
    font-size: 25px;
    text-align: end;
    border-radius: 5px; 
}

.values{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid blue;
    margin: 0px;
    height: 100%;
    width: 100%;
}
.text-display{
   margin:10px 0;
    
}
.output-value{
    margin: 10px 0; 

}
.operation-sign{
    text-align: start;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,60px);
    grid-template-rows: repeat(5,50px);
    grid-gap: 10px 10px;
}

.zero{
    grid-column-end: span 2;
}

.equal-sign, .sumary-sing{
    grid-row-end: span 2;
}

.equal-sign{
    grid-column-start: 4;
    grid-row-start: 4;
}


